@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  background: rgba(246, 247, 251, 1);
}
.cap-que-domestic {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header {
  height: 100px;
  background-image: linear-gradient(rgba(37, 0, 110, 1), rgba(22, 0, 66, 1));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

header h2 {
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
  font-weight: 600;
  font-size: 32px;
}

/* main calculator */
#main {
  width: 85dvw;
  font-family: "Open Sans";
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  width: 70%;
}
.img {
  border: 1px solid rgba(42, 58, 141, 0.18);
  border-radius: 5px;
  box-shadow: 0 0 8px black;
}
main {
  border: 1px solid rgba(42, 58, 141, 0.18);
  width: 85%;
  height: max-content;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
}

#title {
  width: 85%;
  margin: 0 auto;
  font-family: "Open Sans";
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 44px;
}

nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 50px;
  align-items: start;
  justify-content: start;
  border-bottom: 1px solid rgba(42, 58, 141, 0.18);
}

nav div {
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
}
.domestic-capital-goods-container {
  padding: 10px;
  gap: 11px;
  display: flex;
  flex-direction: column;
}
.nav-item {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 21px;
  cursor: pointer;
  align-content: center;
  text-align: center;
  width: 130px;
}

#main-section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

#cal-input {
  flex: 2;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  min-height: 412px;
  max-height: max-content;
}

#cap-good-que {
  justify-content: start;
  width: 100%;
  align-items: start;
  gap: 20px;
  flex-direction: column;
}

#raw-good-que {
  justify-content: start;
  width: 100%;
  align-items: start;
  flex-direction: column;
}

#common-questions {
  justify-content: start;
  width: 100%;
  align-items: start;
  gap: 20px;
  flex-direction: column;
}

.input-grid {
  display: grid;
  gap: 25px;
  margin: 20px 0;
  width: 100%;
  grid-template-columns: 50% 50%;
}
.input-grid2 {
  display: grid;
  gap: 25px;
  width: 100%;
  grid-template-columns: 50% 50%;
}

aside {
  flex: 1;
  background: rgba(231, 238, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(42, 58, 141, 0.18);
  padding: 15px;
  height: max-content;
  box-sizing: border-box;
}

.input-box,
.input-box2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: max-content;
  justify-content: start;
  gap: 10px;
}
.input-box2 {
  flex-direction: row;
  margin: 30px 0;
  align-items: center;
}
.input-tag {
  display: flex;
  width: 100%;
  justify-content: start;
}
.input-tag2 {
  width: 100%;
}
.input-title2 {
  width: max-content;
}
input {
  width: 100%;
  padding-left: 10px;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(0, 0, 0, 0.38);
}

input:focus {
  outline: none;
  border: 2px solid rgba(7, 107, 207, 1);
}

.ruppees-container {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(0, 0, 0, 0.38);
}

.year-container {
  width: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.percentage-conatainer {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.input-title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  display: flex;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.87);
}

/* aside  */

.faq-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.87);
  line-height: 4px;
  letter-spacing: 0.15px;
}

.faq-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 35px;
  flex-direction: column;
  border-bottom: 2px solid rgba(150, 150, 150, 1);
}

.img-q {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.title-q {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  display: none;
}

.question {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  color: rgba(56, 56, 56, 1);
}

.ans {
  font-family: "Urbanist", sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: none;
  margin-bottom: 6px;
  line-height: 16.34px;
  color: rgba(56, 56, 56, 1);
}

.add {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#btn-container {
  width: 100%;
}

#opt-container {
  box-sizing: border-box;
  background-color: rgba(231, 238, 255, 1);
  padding: 10px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  gap: 5px;
}

#opt-container h5 {
  font-size: 16px;
}

#opt-container ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style: decimal;
  list-style-position: inside;
}

.next-btn {
  all: unset;
  background: rgba(26, 1, 78, 1);
  width: 110px;
  border-radius: 10px;
  height: 45px;
  font-family: "Open Sans";
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  align-self: center;
}
.download-btn {
  all: unset;
  background: rgba(26, 1, 78, 1);
  width: max-content;
  border-radius: 10px;
  height: 45px;
  font-family: "Open Sans";
  cursor: pointer;
  font-size: 16px;
  padding: 2px 20px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  align-self: center;
}

.inactive {
  display: none;
}

.gross-indi-box {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
  display: none;
}

.first-title {
  font-family: "Open Sans";
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.87);
}

.second-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.87);
  margin: 25px 0;
}
.second-title2 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin: 15px 0;
}
.fourth-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.87);
  margin: 25px 0 10px 0;
}

.third-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.87);
  margin: 25px 0 20px 0;
}

.btn-container1 {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.btn1 {
  all: unset;
  font-family: "Open Sans";
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgba(154, 154, 154, 1);
  padding: 8px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}

.active {
  border-bottom: 2px solid rgba(7, 107, 207, 1);
  background: rgba(235, 244, 253, 1);
  color: rgba(7, 107, 207, 1);
}

.manual {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
  color: rgba(34, 48, 116, 1);
  width: 85%;
  text-align: center;
  margin: auto;
  padding-top: 5px;
}

/* Cap tables */
.tooltip-container,
.star {
  position: relative;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 112%;
  left: 32%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text,
.star:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.cap-table-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  overflow-x: auto;
  gap: 10px;
  flex-direction: column;
}
.raw-table-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  overflow-x: auto;
  gap: 10px;
  flex-direction: column;
}
.active-table-layout {
  flex-direction: column;
  gap: 20px;
}

.active-faq-layout {
  width: 100%;
  gap: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

table label {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
}

select {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.08399999886751175px;
  text-align: left;
  width: 100%;

  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(0, 0, 0, 0.38);
}
.table-selecct {
  background: transparent;
  border: transparent;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.08399999886751175px;
  text-align: center;
  color: #00b112;
  font-size: 14px;
}
.table-selecct:focus {
  outline: 0;
}

#fourth-left,
.fourth-left2 {
  display: none;
}

.input-select {
  display: none;
}
.active-select {
  width: 50%;
}

table input[type="text"] {
  text-align: center;
  border: 0;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

table input[type="text"]:focus {
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: 0;
  text-align: center;
}

th,
td {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ddd;
}

th {
  background-color: rgba(251, 251, 251, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  width: 12%;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}

.rate {
  background: rgba(236, 255, 238, 1);
  color: rgba(0, 177, 18, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.08399999886751175px;
  text-align: center;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.inactive-box {
  display: none;
}
.active-box {
  display: flex;
}

/* Preview Container  */
.calculate-conatiner {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  height: max-content;
  display: none;
  margin: 40px 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.preview-container {
  height: 900px;
  width: max-content;
  margin: 0;
}

.preview-container {
  border: 1px solid #ddd;
  min-height: 500px;
  width: 100%;
  margin: auto;
  color: red;
  border-radius: 5px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

/* Modal Box Styling */
/* algin bellow box center  */
.modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

/* Modal Header */
.modal-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Close Button */
.close-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  color: #999;
  cursor: pointer;
}

.close-icon:hover {
  color: #333;
}

/* Form Styling */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  background-color: #f9f9f9;
}
#custom-feedback-modal input {
  width: max-content;
}

.form-checkbox {
  margin-right: 8px;
}

.submit-btn {
  background-color: #1e3d9d;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
}
#newsletter-opt-in {
  right: 0;
  top: 5px;
  position: relative;
}
.submit-skip {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.submit-btn:hover {
  background-color: #4000b2;
}

#infor {
  display: none;
  font-size: 13px;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}
#infor ul {
  padding-left: 24px;
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.form-input {
  width: 80%;
  padding: 12px 0 12px 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}
a {
  text-decoration: none;
}

.feedback-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form-input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

.input-q label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-checkbox {
  margin-right: 8px;
}

.submit-skip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.skip-btn {
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
  text-decoration: underline;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* General form styles */
.feedback-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: auto;
  overflow-y: auto;
  width: 480px;
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group2 {
  margin-bottom: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form-input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

.input-q label {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: start;
  gap: 6px;
}

.form-checkbox {
  margin-right: 8px;
}

.submit-skip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.skip-btn {
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
  text-decoration: underline;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
}

.submit-btn:hover {
  background-color: #0056b3;
}

#indiztermsYes-container {
  display: none;
  flex-direction: column;
  gap: 10px;
  font-family: "Open Sans";
  font-size: 14px;
}
#indiztermsYes-container button {
  width: max-content;
}
#cap-que-domestic {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cap-table-domestic,
.raw-table-domestic,
.raw-que-domestic {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.active-flex {
  display: none;
}

#raw-materials-inputs {
  flex-direction: column;
  gap: 25px;
  margin: 30px 0;
}

/* new css  */
#basic-info {
  width: 100%;
}

#basic-information-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  /* word-wrap: break-word; */
  padding: 20px;
  box-sizing: border-box;
}
#tab2,
#tab3,
#tab4,
#tab5 {
  display: none;
  padding: 20px 0;
  flex-direction: column;
  gap: 16px;
}
.second-title {
  margin-bottom: 10px;
}

.input-title2 {
  width: 100%;
}
#questionSetOne,
#questionSetTwo,
#questionSetThree,
#questionSetFour,
#questionSetFive,
#questionSetSix,
#questionSetSeven,
#questionSetEight {
  width: 75%;
  height: max-content;
}
#questionSetOne,
#questionSetTwo,
#questionSetThree,
#questionSetFour,
#questionSetFive,
#questionSetSix,
#questionSetSeven,
#questionSetEight,
#questionSet2one,
#questionSet2two,
#questionSet2three,
#questionSet2four,
#questionSet2five,
#questionSet2six,
#questionSet2seven,
#questionSet2eight,
#questionSet3one,
#questionSet3two,
#questionSet3three,
#questionSet3four,
#questionSet3five,
#questionSet3six,
#questionSet3seven,
#questionSet3eight,
#questionSet4one,
#questionSet4two,
#questionSet4three,
#questionSet4four,
#questionSet4five,
#questionSet4six,
#questionSet4seven,
#questionSet4eight {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-top: 0;
}
.input-grid {
  gap: 20px;
}
#notWord{
  display: inline-lock;
}
@media (max-width: 768px) {
  #title {
    text-align: center;
    line-height: 40px;
    margin-bottom: 16px;
  }
  header {
    height: 70px;
  }
  header h2 {
    font-size: 24px;
  }
  .nav-item {
    width: 100%;
    height: 48px;
  }
  .gross-indi-box {
    align-items: start;
  }
  .input-grid {
    grid-template-columns: 100%;
  }
  .input-box,
  .input-box2 {
    width: 90%;
  }
  main {
    width: 90%;
    padding: 0;
  }
  nav {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    height: max-content;
  }
  #main-section {
    flex-direction: column;
  }
  #cal-input,
  aside {
    width: 100%;
  }
  .manual {
    width: max-content;
  }
  /* #questionSetOne,
  #questionSetTwo,
  #questionSetThree,
  #questionSetFour,
  #questionSetFive,
  #questionSetSix,
  #questionSetSeven,
  #questionSetEight,
  #questionSet2one,
  #questionSet2two,
  #questionSet2three,
  #questionSet2four,
  #questionSet2five,
  #questionSet2six,
  #questionSet2seven,
  #questionSet2eight,
  #questionSet3one,
  #questionSet3two,
  #questionSet3three,
  #questionSet3four,
  #questionSet3five,
  #questionSet3six,
  #questionSet3seven,
  #questionSet3eight,
  #questionSet4one,
  #questionSet4two,
  #questionSet4three,
  #questionSet4four,
  #questionSet4five,
  #questionSet4six,
  #questionSet4seven,
  #questionSet4eight {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-top: 0;
  } */
  .input-title2 {
    width: 100%;
    line-height: 24px;
}
}
@media (max-width: 480px) {
  header {
    height: 90px;
    width: 100%;
    margin-bottom: 10px;
  }
  #basic-information-box {
    padding-top: 0;
  }
  .input-title {
    width: 85%;
  }
  .tooltip-text {
    right: 0;
    left: -100%;
  }
  #title {
    line-height: 38px;
    font-size: 24px;
  }

  nav {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    gap: 8px;
    height: max-content;
  }
  header h2 {
    font-size: 20px;
    text-align: center;
    line-height: normal;
  }
  #main h2 {
    font-size: 16px;
  }
  #main p {
    font-size: 12px;
  }
  main {
    padding: 15px;
  }
  #cap-good-que,
  #imported-raw-goods {
    align-items: center;
    text-align: start;
    line-height: normal;
    font-size: 16px;
  }
  .input-grid2 {
    grid-template-columns: 100%;
  }
  .fourth-title {
    font-size: 16px;
    line-height: 24px;
  }
  .input-title {
    width: 100%;
    display: inline-block;
    font-weight: 500;
    text-align: start;
  }
  .input-box,
  .input-box2 {
    width: 100%;
    margin: auto;
  }
  .nav-item {
    font-size: 14px;
  }
  #main-section {
    gap: 15px;
    padding: 0;
  }
  .next-btn {
    width: 80px;
    font-size: 14px;
  }
  .calculate-conatiner {
    max-height: max-content;
  }
  .preview-container {
    max-height: 500px;
  }
  #tab2,
  #tab3,
  #tab4,
  #tab5 {
    padding: 0;
  }

}
